h1{
    color: #81A263;
  font-family: "Playwrite AU VIC", cursive;
}
h3{
    color:#ACD793;
}

h7{
    color: white;
}

.container-fluid{
    background-color: #ACD793;
    
}
#main{
    background-color: #FFC96F;
}
#abt{
    background-color: #FFE8C8;
}
#bloggm{
    background-color: #FFE8C8; 
}
#postone{
   
}
p{
    font-family: "Oswald", sans-serif;
}